<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyberbullying Text Identifier</title>

    <link rel="stylesheet" href="/static/css/style_index.css">
    <link rel="icon" type="image/png" href="/static/img/fav_icon.png"/> 

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap" rel="stylesheet">
</head>
<body>
    <div class="home_bg">
        <div class="container">
            <!-- <div id="viewportValues"></div> -->
            <button id="predict_btn"><a href="/querypage">Unmask Cyberbullies!</a></button>
        </div>
    </div>
    <script src="/static/js/script.js"></script>
</body>
</html>